# Question 3
Based on Question 2, implement all queries and the ingestion/extraction process of Appendix A in Python.
You can attempt this question in your own development workspace and share GitHub repository or gist URL

In [1]:
import sqlite3

# Connect to an SQLite database (create a new database if it doesn't exist)
conn = sqlite3.connect('bookstore.db')
cursor = conn.cursor()

# Create Customers table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS customers (
        id INT,
        name VARCHAR(255),
        email VARCHAR(255),
        tel VARCHAR(15),
        created_at DATETIME,
        updated_at DATETIME
    )
''')

# Insert data into the Customers table
customers_data = [
    (1, 'Irfan Bakti', 'irfan88@example.com', '+60123456789', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
    (2, 'Jack Smmith', 'jack.smmith@acme.io', '+60132456781', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
    (3, 'Nazir', None, '+601185434012', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
    (4, 'Faiz Ma', 'faiz.ma@jholow.cn', '+6019772002', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
    (5, 'Isham Rais', 'isham@pmo.gov.my', '+60135482020', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
    (6, 'Shanon Teoh', 'shahnon.teoh@st.com.sg', None, '2019-08-07 08:13:21', '2019-08-07 08:13:21')
]


# Create Invoices table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS invoices (
        id INT,
        number INT,
        sub_total DECIMAL(10, 2),
        tax_total DECIMAL(10, 2),
        total DECIMAL(10, 2),
        customer_id INT,
        created_at DATETIME,
        updated_at DATETIME
    )
''')

# Insert data into the Invoices table
invoices_data = [
    (1, 20190001, 30.00, 0.00, 30.00, 1, '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
    (2, 20190002, 150.00, 0.00, 150.00, 2, '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
    (3, 20190003, 30.00, 0.00, 30.00, 2, '2019-09-15 08:13:21', '2019-09-15 08:13:21'),
    (4, 20190004, 55.00, 0.00, 55.00, 3, '2019-09-15 08:13:21', '2019-09-15 08:13:21'),
    (5, 20190005, 450.00, 0.00, 0.00, 6, '2019-09-15 08:13:21', '2019-09-15 08:13:21')
]


# Create Invoice Lines table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS invoice_lines (
        id INT,
        description VARCHAR(255),
        unit_price DECIMAL(10, 2),
        quantity INT,
        sub_total DECIMAL(10, 2),
        tax_total DECIMAL(10, 2),
        total DECIMAL(10, 2),
        tax_id INT,
        sku_id INT,
        invoice_id INT
    )
''')

# Insert data into the Invoice Lines table
invoice_lines_data = [
    (1, 'Book #1', 30.00, 1, 30.00, 0.00, 30.00, None, 1, 2),
    (2, 'Book #2', 25.00, 4, 100.00, 0.00, 100.00, None, 2, 2),
    (3, 'Book #3', 50.00, 1, 50.00, 0.00, 50.00, None, 3, 2),
    (4, 'Book #1', 30.00, 1, 30.00, 0.00, 30.00, None, 1, 3),
    (5, 'Book #1', 30.00, 1, 30.00, 0.00, 30.00, None, 1, 4),
    (6, 'Book #2', 25.00, 1, 25.00, 0.00, 25.00, None, 2, 4),
    (7, 'Book #1', 30.00, 5, 150.00, 0.00, 150.00, None, 1, 5),
    (8, 'Book #3', 50.00, 6, 300.00, 0.00, 300.00, None, 3, 5)
]


# Commit the changes and close the connection
conn.commit()
conn.close()

In [2]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('bookstore.db')

# Execute the query
query = '''
    SELECT c.id, c.name
    FROM Customers c
    JOIN Invoices i ON c.id = i.customer_id
    JOIN Invoice_Lines il ON i.id = il.invoice_id
    GROUP BY c.id, c.name
    HAVING SUM(il.quantity) > 5
'''

result = conn.execute(query)

# Fetch and print the results
for row in result:
    print(f"Customer ID: {row[0]}, Name: {row[1]}")

# Close the connection
conn.close()

Customer ID: 2, Name: Jack Smmith
Customer ID: 6, Name: Shanon Teoh

In [3]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('bookstore.db')

# Execute the query
query = '''
    SELECT c.id, c.name
    FROM Customers c
    LEFT JOIN Invoices i ON c.id = i.customer_id
    WHERE i.id IS NULL
'''

result = conn.execute(query)

# Fetch and print the results
for row in result:
    print(f"Customer ID: {row[0]}, Name: {row[1]}")

# Close the connection
conn.close()

Customer ID: 4, Name: Faiz Ma
Customer ID: 5, Name: Isham Rais

In [4]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('bookstore.db')

# Execute the query
query = '''
    SELECT c.name AS customer_name, il.description AS book_description
    FROM Customers c
    JOIN Invoices i ON c.id = i.customer_id
    JOIN Invoice_Lines il ON i.id = il.invoice_id
'''

result = conn.execute(query)

# Fetch and print the results
for row in result:
    print(f"Customer Name: {row[0]}, Book Description: {row[1]}")

# Close the connection
conn.close()

Customer Name: Jack Smmith, Book Description: Book #1
Customer Name: Jack Smmith, Book Description: Book #2
Customer Name: Jack Smmith, Book Description: Book #3
Customer Name: Jack Smmith, Book Description: Book #1
Customer Name: Nazir, Book Description: Book #1
Customer Name: Nazir, Book Description: Book #2
Customer Name: Shanon Teoh, Book Description: Book #1
Customer Name: Shanon Teoh, Book Description: Book #3